.estadisticas {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.barra-busqueda {
    position: absolute;
    top: 30px;
    left: 100px;
}

#busqueda {
    width: 100%;
    height: 30px;
    padding: 10px;

    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.results-list {
    width: 300px;
    color: #000;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: scroll;

    position: absolute;
    top: 80px;
    left: 100px;
}

.decoracion-top {
    background-color: #000;
    width: 50%;
    height: 70px;
    position: absolute;
    top: 80px;
    right: 10px;
}

.titulo {
    position: absolute;
    top: 120px;
    left: 100px;
    text-align: left;
}

.titulo h2 {
    color: #000;
    font-size: 3rem;
}

.titulo h3 {
    color: #00000075;
    font-size: 2rem;
}

@media screen and (max-width: 400px) {
    .decoracion-top {
        display: none;
    }
}

@media screen and (min-width: 4000px) {
    #busqueda {
        height: 100px;
        padding: 30px;
        font-size: 3rem;
        border-radius: 50px;
    }

    .titulo {
        top: 250px;
    }

    .titulo h2 {
        font-size: 7rem;
    }

    .titulo h3 {
        font-size: 5rem;
    }
}