* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#contenedor {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);

    width: 90%;
    height: 65%;
    overflow: hidden;
}

#contenedor img {
    max-height: 20%;
    max-width: 6%;
}

/* ESTILOS PARA PANTALLAS PEQUEÑAS */
@media screen and (max-width: 400px) {
    #contenedor {
        transform: translate(-40%, -20%);
    }
}