* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#contenedor {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);

    width: 90%;
    height: 65%;
    background-color: blue;
    overflow: hidden;
}