* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#contenedor {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);

    width: 100%;
    height: 75%;
    overflow: hidden;
}

#contenedor img {
    max-height: 10%;
    max-width: 2%;
}

/* ESTILOS PARA PANTALLAS PEQUEÑAS */
@media screen and (max-width: 800px) and (min-width: 100px) {
    #contenedor {
        margin-top: 5%;
        margin-left: 10%
    }

    #contenedor img {
        max-height: 6%;
        max-width: 7%;
    }
}
